# Dossiers fichiers généré par la compilation.
obj/
bin/
doc/
tags
# Fichier généré par pretty print.
*.pp
# Fichier temporaire de gnat.
.\#*\#
# Fichier généré par le chiffrement
*.chiffre
*.dechiffre
*.pdf
*.test
